*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and banner */
.header{
 padding: 230px 245px;
 background: url(/images/banner/banner2.png);
 background-repeat: no-repeat;
}

.banner{
    
  margin: 0 200px;
    text-align: right;
    align-items: center;
}
.banner-title{
   margin-top: ;
    font-weight: 650px;
font-size: 60px;
margin-bottom: 20px;
}

.banner-paragraph{
    margin-bottom: 30px;
    color: #005FAC;
    font-size: 16px;
}
.btn-primary{
    height: 64px;
    padding: 20px 25px;
    border: 0;
    font-weight: 600px;
    color: #005FAC;
    font-size: 18px;
    border-radius: 10px;

}
.possible{
    color:grey ;
}
/* main */
main{
    max-width: 1400px;
    margin:;
    padding:0px 200px ;

    
}
/* failure section */
.failure-title{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.failure-paragraph{
    text-align: center;
    font-size: 16px;
    color: #444343;
    

}
.failure-container{
 display: flex;
}
.failure-description{
    margin-bottom: 15px;
    font-size: 14px;
    color: #444343;
}
/* my plan section */
.section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.my-plan-container{
    display: flex;
    justify-content: space-around;
}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.plan-sub-title{
text-align: center;
color: #737272;
font: 25px;
font-weight: 500px;
margin-bottom: 10px;
margin-top: 10px;
}
.mindset-container{
    text-align: left;
    margin-top: 80px;
    background: url(/images/gradient2.png), url(/images/watch.png);
    background-repeat: no-repeat;
    padding:  50px 250px 145px 60px;
}
.mindset-btn{
    height: 64px;
    padding: 20px 25px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
font-size: 20px;
padding: 20px 35px;
text-align: right;
}
.mindset-title{
    font-weight: 700px;
    font-size: 35px;
    text-align: left;
    margin-bottom: 25px;
color: #FFFFFF;
}
/* footer styles */
.footer{
    margin-top: 50px;
    background-color: #151414;;
}
.future-container{
    display: flex;
}
.future-title{
    font-weight: 700px;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;
}
.future-paragraph{
    font-size: 16px;
    color: #FFFFFF;
    
}
.future{
    margin-top: 100px;
    margin-left: 50px;
}
.future-form{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 20px;
}
.email-holder{
    padding: 20px;
    background-color: #151414;
    border-radius: 10px;

}
.btn-subscribe{
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 500px;
color: #F15B22;
border: none;
border-radius: 10px;
    
}